:root{
    background-color: #F2F2F2;
}
body{
    margin: 0px;
}



nav ul {
    position: relative;
    font-size: 40px; 
    list-style: none;
    font-family: 'alex brush';
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    justify-content: space-around;
    display: flex;
    width: 100%;
    
}

.first {
    /* This is a nav ul li*/
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1%;
   
}



nav li:hover{
    color: #CDBDB2;
}

nav a{
    color: #606060;
    text-decoration: none;
    margin: 0;
    font-family: alex brush;
    padding: 0;
 } 

nav li a:hover{
    color: #CDBDB2;
}

.logo {  
    /* This is a nav ul li*/
    display: flex;  
    margin-left: 0% ; 
    margin-right: 0px ;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    
    }  

.menu-sub {
    position: absolute;
    width: 100%;
    margin: 0;
    color: #606060;
    background: #F2F2F2;
    display: none;
    
}

nav li:hover .menu-sub{
    display: block;
}



.drop{
    display: block;
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    background-color: #CDBDB2;
    margin: 0;
    padding: 0;
    width: 100%;

 }



 .menu-sub li{
    display: block;
 }

 
 








.hero h1{
    font-family: 'Alex Brush';
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 85px;
    letter-spacing: 2px;
    color: #606060;
    
}
.hero p{
    position: absolute;
    top: 45%;
    left: 17%;
    font-family: 'Roboto Condensed';
    font-size: 50px;
    color: #505050;
}

.heroimg{
    flex-grow: 1;
    margin: 0;
    width: 100%;
    
    clip-path: polygon(100% 88%, 50% 100%, 0 88%, 0 0, 50% 10%, 100% 0);
    
}

  
.hero img {
    opacity: 23%;
    
    
}
.hero {
    position: relative;

        
        
       
        
       
      
}

.hero-svg {
    position: absolute;
    background-image: url(../IMG/svghero.svg);
    background-repeat: no-repeat;
    margin-top: 0%;

    height: 300px;
    width: 100%;
    background-size: 100%;
}
.hero-bottom-container {
    display: flex;
    z-index: 223;
    position: relative;
    margin-top: -7%;

}
.hero-bottom-line {

 height: 120px;
 width: 50%;
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}
.hero-bottom-line2 {

  height: 120px;
  width:50%;
     background: 
        linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 1px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 1px),
        rgba(0,0,0,0) 100%)
 } 


.section2{
    margin: auto;
    display: block;
    width: 100%;
    flex-grow: 1;
}

.section2 .container {
    
    display: flex;
    margin-top: 10%;
    width: 90%;
    
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    
    
    

}






.img1{
    display: block;
  margin-left: 0;
  margin-right: 0;
  
}

.rec1{
    position: absolute;
    margin-left: 0%;
    margin-top: -6%;
    height: 500px;
    width: 30%;
}

.rec2{
    position: absolute;
    margin-top: -2.2%;
    margin-left: 0%;
    height: 390px;
    width: 20%;
    
}
.imgbox1{
   
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;

    
}
.container h2{
    font-family: 'Alex Brush';
    position: absolute;
    font-size: 60px;
    color: #F2F2F2;
    text-align:center;
    margin-top: 14%;
    text-shadow: -2px -3px #F2F2F2;
    cursor: pointer;    
    

}
.section2 .container .imgbox1 .imghover{
    color:transparent;
    background: 
      linear-gradient(90deg,#9E9F8C 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
           
    transition: .4s;
    
  }
.section2 .container .imgbox1 .imghover:hover {
    --_p:0%
}

.imgbox2{
    margin-left: 0%;
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;
}

.section2 .container .imgbox2 .imghover{
    color:transparent;
    background: 
      linear-gradient(90deg,#9E9F8C 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
           
    transition: .4s;
    
  }
.section2 .container .imgbox2 .imghover:hover {
    --_p:0%
}

.imgbox3{
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;

    
}

.section2 .container .imgbox3 .imghover{
    color:transparent;
    background: 
      linear-gradient(90deg,#9E9F8C 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
           
    transition: .4s;
    
  }
.section2 .container .imgbox3 .imghover:hover {
    --_p:0%
}

.rec3{
    transform: scaleX(-1);
    position: absolute;
    margin-left: 0%;
    margin-top: -6%;
    height: 500px;
    width: 30%;
   
}



.heroimg2{
    height: 900px;
    width: 100%;
    opacity: 23%;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    clip-path: polygon(100% 88%, 50% 100%, 0 88%, 0 0, 50% 11%, 100% 0);

}

.heroimg2 > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

.hero .heroimg2{
    z-index: 2;
}
.hero2 .hero-svg2{
    z-index: 1;
    transform: scaleX(-1);

}  

.hero-svg2 {
    position: absolute;
    background-image: url(../IMG/svghero.svg);
    background-repeat: no-repeat;
    margin-top: -3%;
    height:300px;
    width: 100%;
    background-size: 100%;
    position: absolute;
}
.hero-wrap{
        filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.5));
    

}

.herobackground{
    width: 100%;
    height: 300px;
    background-color: #CDBDB2;
    clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 35%, 100% 0);
    position: absolute;
    margin-right: 0;
    margin-top: -9.5%; 
    display: flex;   
   

}

.container2{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    
 
    
}



.herotext{
    width: 100%;
    display: flex;
    position:relative;
    margin-left: 20%;
    margin-right: -13%;
   
    
}
.herotext1{
    width:100%;
    display: flex;
    position: relative;
    margin-left: -10%;
    
    
    
}
.herotext2{
    width: 100%;
    display: flex;
    position: relative;
    color: #F2F2F2;
    margin-right: 0%;
    margin-left: -5%;

    
    
}

.container2 .let{
   font-size:90px;
   font-family: 'Roboto Condensed';
   letter-spacing: 4px; 
   width: 100%;
   margin: -12% 0% -40% 0%;
   color: #F2F2F2;
   filter: drop-shadow(4px 4px 2.5px rgba(0, 0, 0, 0.5));

   
   
}

.container2 .dec {
    font-size: 190px;
    font-family: 'Alex Brush';
    color: #707070;
    width: 100%;
    transform: rotate(-25deg);
    margin: -10% 0% 0% 1%;
    letter-spacing: 2px;
    filter: drop-shadow(-8px 5px 2px rgba(122, 122, 122, 0.5));

  
 }

.container2 .you{
    font-size:60px;
    font-family: 'Roboto Condensed';
    margin: 16% 0% 0% -40%;
    letter-spacing: 4px;
    width: 100%;
    filter: drop-shadow(4px 4px 1.5px rgba(0, 0, 0, 0.5));
    
 }

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed {
  background: #707070;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* The company logo */

.footer-distributed h3 {
  color: #F2F2F2;
  font-family: alex brush;
  font-size: 40px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #f2f2f2;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #f2f2f2;
}

/* The contact form */

.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: f2f2f2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #;
  color: #f2F2f2;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}
